/*
Three primary button colors
white, #808080 and #bebebe
*/

.canvas{
  border: 2px solid white; /* for testing purpose only */
}

.image-info {
  font-size: 14px;
}

.image-info p {
  margin-top: 10px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#rotateRight,
#rotateLeft,
#newRectangle,
#newImage {
  cursor: pointer;
}

.apply-button {
  background-color: #5c5ccc;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  /* margin: 0 auto; */
  position: relative;
  left: 20%;
  width: 80px;
}

.red-button{
  background-color: red;
  display: block;
}


.main-app .control .right {
  width: 80%;
  float: right;
  color: #f0f1f2;
  height: 100%;
  background-color: #2b2c2f;
  position: relative;
}

.top-bar .logo {
  float: left;
}

.top-bar .logo h1 {
  color: #5c5ccc;
  font-family: "Megrim", cursive;
  text-shadow: 4px 4px #000;
  letter-spacing: 0.1em;
}

.top-bar .image-size-indicator {
  margin: 0 auto;
  display: none;
}

.top-bar ul {
  float: right;
  margin-right: 20px;
}

.top-bar .account {
  float: right;
}
.top-bar-wrapper ul li {
  list-style: none;
  float: left;
}
.top-bar-wrapper .download-button {
  background-color: #5c5ccc;
  color: #fff;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
  height: 100%;
  position: relative;
}



.tabs {
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tool {
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  display: inline-block;
}

.layer-actions li:last-child {
  margin-bottom: 10px;
}

.layer-actions {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #808080;
}

.tool .tool-info {
  visibility: hidden;
  background-color: #28292c;
  color: #fff;
  text-align: center;
  padding: 0 10px;
  margin-left: 20px;
  border-width: 5px;
  position: absolute;
  z-index: 1;
}

.tool:hover .tool-info {
  visibility: visible;
}

.tool:focus .tool-info {
  visibility: hidden;
}

.tool-options-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  
}

.tool-options-wrapper input {
  outline: none;
}

.original-image-info {
  margin-bottom: 20px;
}

#loadedMaskImage img{
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}


i.fas,
i.fab,
.tool img{
  width: 20px;
  fill: #bebebe;
  color: #bebebe;
  padding: 5px;
}


.tool.active i.fas,
.tool.active i.fab,
.tool:hover i.fas,
.tool:hover i.fab,
.tool:hover img,
.tool.active img {
  background-color: black;
}

/* .tool.active.no-background img,
.tool.active.no-background i.fas,
.tool.active.no-background i.fab{
  background-color: unset;
} */



.fas.fa-upload{
  /* color: rebeccapurple; */
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.mask-image-tab p{
  font-size: 16px;;
}
.mask-image-tab .apply-button{
  left: 0;
  width: 100%;
}

.tool:active img {
  background-color: black;
}



.white-btn {
  color: black;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
}

.white-btn:first-child {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}


.color-picker {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #5c5ccc;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

.frames, .stickers{
  list-style: none;
  scrollbar-color: dark;
  overflow-y: scroll;
  height: 900px;
}

.frames img{
  width: 150px;
  padding: 10px 0;
  cursor: pointer;
  padding-right: 20px;
}

#fontSelect{
  font-size: 20px;
  width: 150px;
}

.text-preview{
  color: black;
  font-family: 'Montez';
  font-size: 40px;
  line-height: 4rem;
}

.text-tool-wrapper{
  height: 450px;
}
/* 
.disabled-button{
  pointer-events: none;
} */

.stickers img{
  width: 100px;
  padding: 10px 0;
  cursor: pointer;
  /* margin-left: 20px; */
  padding-right: 50px;
}

.noselect {
   user-select: none; 
}