body {
  background-color: #1e1f22;
  height: 100%;
}
.canvas-wrapper {
  float: right;
  width: calc(100% - 300px - 100px);
  margin-right: 100px;
  height: 100%;
  position: relative;
  background-color: #2b2c2f;
}

canvas {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.top-bar-wrapper {
  height: 75px;
  color: #f0f1f2;
  background-color: #1e1f22;
}

.top-bar {
  padding-top: 1rem;
}

.main-wrapper {
  margin-left: 20px;
}
.main-app {
  background-color: #2b2c2f;
  position: relative;
  overflow: hidden;
  width: 100%;
  content: "";
  display: table;
  clear: both;
  height: calc(100vh - 75px);
}

.main-app .control {
  float: left;
  width: 300px;
  height: 100%;
}

.main-app .control .left {
  width: 20%;
  float: left;
  color: #f0f1f2;
  background-color: #1e1f22;
  height: 100%;
}

#rotateRight,
#rotateLeft,
#newRectangle,
#newImage {
  cursor: pointer;
}

.apply-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.main-app .control .right {
  width: 80%;
  float: right;
  color: #f0f1f2;
  height: 100%;
  background-color: #2b2c2f;
}

.top-bar .logo {
  float: left;
}

.top-bar .logo h1 {
  color: #5c5ccc;
  font-family: "Megrim", cursive;
  font-weight: 400;
}

.top-bar .image-size-indicator {
  margin: 0 auto;
  display: none;
}

.top-bar ul {
  float: right;
  margin-right: 20px;
}

.top-bar .account {
  float: right;
}
.top-bar-wrapper ul li {
  list-style: none;
  float: left;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px 0;
}

.white-btn {
  color: black;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
}
.white-btn:first-child {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.color-option {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  margin: 0 10px;
}
.color-option.red {
  background-color: #f00;
}
.color-option.green {
  background-color: #0f0;
}

.color-option.blue {
  background-color: #00f;
}

.color-picker {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.hidden {
  display: none;
}
