body {
  background-color: #1e1f22;
}
.canvas-wrapper {
  float: right;
  width: calc(100% - 300px - 20px);
  outline: 2px solid red;
  padding: 10px;
  height: 100%;
  /* position: absolute; */
  position: relative;
  /* left: 50%;
  top: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
  background-color: #2b2c2f;
  
}

canvas {
  /* position: absolute; */
  /* object-fit: cover; */
  /* width: 100%; */
  /* height: 250px; */
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.top-bar {
  height: 65px;
  color: #f0f1f2;
  background-color: #1e1f22;
}
.main-wrapper {
  margin: 20px 20px 0 20px;
}
.main-app {
  position: relative;
  width: 100%;
  content: "";
  display: table;
  clear: both;
  height: calc(100vh - 65px - 20px);
}

.main-app .control {
  float: left;
  width: 300px;
  height: 100%;
}

.main-app .control .left {
  width: 20%;
  float: left;
  color: #f0f1f2;
  background-color: #1e1f22;
  height: 100%;
}

#rotateRight,
#rotateLeft,
#newRectangle,
#newImage {
  cursor: pointer;
}

.apply-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  /* margin-left: 40px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.main-app .control .right {
  height: 200px;
  width: 80%;
  float: right;
  color: #f0f1f2;
  height: 100%;
  background-color: #2b2c2f;
}

.top-bar .logo {
  float: left;
}
.top-bar ul {
  float: right;
}

.top-bar .account {
  float: right;
}
.top-bar ul li {
  list-style: none;
  float: left;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px 0;
}

.white-btn {
  color: black;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
}
.white-btn:first-child {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
